.nav {
  width: 1263px;
  height: 65px;
  background: #000;
  color: #fff;
  border-top:1px solid white;
  }
  .nav h1 {
    padding-left: 20px;
    text-align: left;
    float: left;
    padding-top: 15px;
    margin-right: 130px; }
  .nav li {
    float: left;
    line-height: 65px;}
    .nav li:hover .subnav {
      display: block; 
      opacity:0.8;
      }
    .nav li a {
      display: block;
      padding: 0 30px;
      color: #fff;
      font-size: 18px; }

.li1 {
  color: red;
  font-size: 20px; }

.nav a:hover {
  color: #f00; }

.subnav li {
  background: #666;
  padding: 0; }

.nav .subnav {
  display: none;
  position: absolute;
  width: 600px; 
  z-index: 999;}
.Cart{float: right;margin:20px 150px 0 0;}
